body{
    background-color: #111111;
    font-family: "Roboto", sans-serif;
}

header{
    border-bottom: 1px solid #6528D3;
}

header .menu-mobile{
    display: none;
}

header .menu-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1170px;
    margin: 0 auto;
}

header .menu-desktop .logos{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu-desktop .logos img:not(.logo){
    display: none;
}

header .menu-desktop .logos .menu-hamburguer-icon{
    cursor: pointer;
}

header .menu-desktop .menu{
    display: flex;
    align-items: center;
}

header .menu-desktop .menu li{
    padding: 20px;
}

header .menu-desktop .menu a:hover {
    color: #6528D3;
}

header .menu-desktop .cart-informations{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

header .menu-desktop .cart-informations button {
    padding: 16px 32px;
    background-color: #6528D3;
    color: #FFFFFF;
    border-radius: 4px;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

header .menu-desktop .profile-cart{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.container h2{
    max-width: 1170px;
    margin: 0 auto;
    text-align: start;
    color: #FFFFFF;
    width: 100%;
    margin-top: 80px;
    font-weight: 500;
    font-size: 24px;
}

.container .product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.container .product-list .product{
    color: #FFFFFF;
    background-color: #130234;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container .product-list .product img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.container .product-list .product .product-information{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .product-list .product .product-information h3{
    font-size: 20px;
    font-weight: 500;
}

.container .product-list .product .product-information .size{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container .product-list .product .product-information .size span{
    color: #EDEDED;
    font-size: 16px;
}

.container .product-list .product .product-information .price {
    color: #6BB27C;
    font-size: 24px;
    align-self: flex-end;
}

.container .product-list .product .product-information button {
    color: #EDEDED;
    font-size: 16px;
    padding: 16px;
    background-color: #6528D3;
    border-radius: 4px;
}